<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Emsidi</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"/>
    <object th:include="fragments/fragment :: js" th:remove="tag"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
        *{
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('')"/>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <img src="https://cdn.icon-icons.com/icons2/1380/PNG/512/vcsconflicting_93497.png" width="350px" height="350px">
                <h2>Anda tidak dapat mengakses halaman ini</h2>
                <br>
                <a class="btn btn-primary" href="/">Back to home</a>
            </div>
        </div>
    </div>
</div>

</body>

</html>