<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Emsidi</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"/>
    <object th:include="fragments/fragment :: js" th:remove="tag"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
        *{
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Home')"/>
<div class="d-flex justify-content-center">
    <div class="m-4">
        <h2>Selamat Datang di Emsidi</h2>
        <div class="d-flex justify-content-center">
            <a th:href="@{/cabang/viewall}" class="mx-2 btn btn-dark">Lihat semua cabang</a>
            <a th:href="@{/cabang/add}" class="mx-2 btn btn-outline-dark">Tambah cabang</a>
        </div>
        <div class="my-3 d-flex justify-content-center">
            <a th:href="@{/menu/viewall}" class="mx-2 btn btn-dark">Lihat semua menu</a>
            <a th:href="@{/menu/add}" class="mx-2 btn btn-outline-dark">Tambah menu</a>
        </div>
    </div>
</div>

</body>

</html>