
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
        *{
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('')"/>
<div class="container-fluid">
    <br>
    <div class="alert alert-success">
        <strong>Password Berhasil Diubah!</strong>
    </div>
</body>

</html>