<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Emsidi</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"/>
    <object th:include="fragments/fragment :: js" th:remove="tag"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
        *{
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Menu')"/>
<div class="container">
    <h2>Daftar Seluruh Menu</h2>
    <br>
    <div th:if="*{listMenu.size() != 0}">
        <table class="table">
            <thead>
            <tr>
                <th>No</th>
                <th>No Menu</th>
                <th>Nama Menu</th>
                <th>Deskripsi</th>
                <th>Status Tersedia</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="menu, iterationStatus : ${listMenu}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${menu.noMenu}"></td>
                <td th:text="${menu.namaMenu}"></td>
                <td th:text="${#strings.abbreviate(menu.deskripsiMenu,50)}"></td>
                <td th:if="${menu.isAvailable == true}" th:text="'YA'"></td>
                <td th:if="${menu.isAvailable == false}" th:text="'TIDAK'"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="*{listMenu.size() != 0}">
        <h2 th:text="'Tidak ada menu'"></h2>
    </div>
<!--    <div th:each="menu : ${listMenu}" class="card m-4 p-4">-->
<!--        <div class="card-body">-->
<!--            <div class="justify-content-center">-->
<!--                <p th:text="'Nomor Menu : ' + ${menu.noMenu}"></p>-->
<!--                <p th:text="'Nama Menu : ' + ${menu.namaMenu}"></p>-->
<!--                <p th:text="'Deskripsi Menu : ' + ${menu.deskripsiMenu}"></p>-->
<!--                <p th:if="${menu.isAvailable == true}" th:text="'Sedang Tersedia : YA'"></p>-->
<!--                <p th:if="${menu.isAvailable == false}" th:text="'Sedang Tersedia : TIDAK'"></p>-->
<!--                <br>-->
<!--            </div>-->
<!--        </div>-->
<!--        <br>-->
<!--    </div>-->
    <a class="btn btn-primary" href="/">Home</a>
</div>

</body>

</html>