<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Emsidi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"/>
    <object th:include="fragments/fragment :: js" th:remove="tag"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
        *{
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Cabang')"/>
<div class="container">
    <h2>Daftar Seluruh Cabang Emsidi</h2>
    <br>
    <div th:if="*{listCabang.size() != 0}">
            <table class="table">
                <thead>
                <tr>
                    <th>No</th>
                    <th>No Cabang</th>
                    <th>Nama Cabang</th>
                    <th>Alamat</th>
                    <th>No Telepon</th>
                    <th>Jam Operasional</th>
                    <th>Detail</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cabang, iterationStatus : ${listCabang}">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${cabang.noCabang}"></td>
                    <td th:text="${cabang.namaCabang}"></td>
                    <td th:text="${cabang.alamatCabang}"></td>
                    <td th:text="${cabang.noTeleponCabang}"></td>
                    <td th:text="${cabang.waktuBuka} + '-' + ${cabang.waktuTutup}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/cabang/view(noCabang=${cabang.noCabang})}">Lihat</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/cabang/update/} + ${cabang.noCabang}">Update</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/cabang/delete/} + ${cabang.noCabang}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
    <div th:unless="*{listCabang.size() != 0}">
        <h2 th:text="'Tidak ada cabang'"></h2>
    </div>
<!--    <div th:each="cabang : ${listCabang}" class="card m-4 p-4">-->
<!--        <div class="card-body">-->
<!--            <div class="justify-content-center">-->
<!--                <p th:text="'Nomor Cabang : ' + ${cabang.noCabang}"></p>-->
<!--                <p th:text="'Nama Cabang : ' + ${cabang.namaCabang}"></p>-->
<!--                <p th:text="'Alamat Cabang : ' + ${cabang.alamatCabang}"></p>-->
<!--                <p th:text="'Nomor Telepon Cabang : ' + ${cabang.noTeleponCabang}"></p>-->
<!--                <p th:text="'Waktu Buka : ' + ${cabang.waktuBuka}"></p>-->
<!--                <p th:text="'Waktu Tutup : ' + ${cabang.waktuTutup}"></p>-->
<!--                <br>-->
<!--                <a class="btn btn-primary" th:href="@{/cabang/view(noCabang=${cabang.noCabang})}">Lihat Detail Cabang</a>-->
<!--                <a class="btn btn-primary" th:href="@{/cabang/update/} + ${cabang.noCabang}">Update Cabang</a>-->
<!--                <a class="btn btn-primary" th:href="@{/cabang/delete/} + ${cabang.noCabang}">Delete Cabang</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <br>-->
<!--    </div>-->
    <a class="btn btn-primary" href="/">Home</a>
</div>

</body>

</html>